.comment-author {
    float: left;
    margin-right: 30px;
    font-size: 16px;
}
.comment-date {
    font-size: 10.5px;
    line-height: 2;
}
.comment-text {
    font-size: 14px;
}
.comment {
    margin-bottom: 20px;
}
.comments {
    padding-top: 30px;
}
.button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: rgb(238, 238, 238);
    float: right;
    margin-bottom: 50px;
    cursor: pointer;
}
.comment-form {
    width: 600px;
}
.author-form {
    width: 580px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.text-form {
    width: 580px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid black;
    background: rgb(238, 238, 238);
    padding: 10px;
}