body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.header {
    background: rgb(249, 249, 249);
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    padding-top: 5px;
}
.bold-text {
    font-weight: 700;
    font-size: 12px;
    padding-top: 10px;
}
.text {
    font-weight: 400;
    font-size: 12px;
    padding-top: 15px;
}
.header-title {
    padding-top: 60px;
    font-weight: 300;
    font-size: 48px;
}
.clearfix {
    clear: both;
}
.underline {
    text-decoration: underline;
}
.content {
    background: rgb(238, 238, 238);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer {
    background: rgb(249, 249, 249);
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-left {
    float: left;
    margin-right: 50px;
}
