<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="bold-text">Телефон: (499) 340-94-71</div>
                    <div class="bold-text">Email: <span class="underline">info@future-group.ru</span></div>
                    <h1 class="header-title">{% block header_title %}{% endblock %}</h1>
                </div>
                <div class="header-right">
                    <img class="logo" src="{{ asset('images/logo.png') }}">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-left">
                    <img class="logo" src="{{ asset('images/logo-footer.png') }}">
                </div>
                <div class="footer-right">
                    <div class="bold-text">Телефон: (499) 340-94-71</div>
                    <div class="bold-text">Email: <span class="underline">info@future-group.ru</span></div>
                    <div class="bold-text">Адрес: <span class="underline">115088 Москва, ул. 2-я Машиностроения, д. 7 стр. 1</span></div>
                    <div class="text">© 2010 - 2014 Future. Все права защищены</div>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>