{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/comments.css') }}">
{% endblock %}

{% block title %}
    Комментарии
{% endblock %}

{% block header_title %}
    Комментарии
{% endblock %}

{% block content %}
    <ul class="comments">
        {% for comment in comments %}
            <li class="comment">
                <div class="comment-author">{{ comment.author }}</div>
                <div class="comment-date">{{ comment.created|date(' H:i Y-m-d') }}</div>
                <div class="clearfix"></div>
                <div class="comment-text">{{ comment.text }}</div>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Оставить комментарий:</h2>

    <div class="comment-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}